.username a {
    color: #fff;
    /* font-weight: bold; */
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
.useremail {
    font-size: 14px;
    font-family: 'Twc';
    color: #fff;
}
section.profile-sec {
    background: #FFD814;
    padding: 6rem 0;
}
hr.line {
    border-top: 1px solid #707070;
}
.profilen {
    /* display: flex; */
    align-items: center;
    font-size: 14px;
    font-family: 'Twc';
}
/* .profilen p:nth-child(1) {
    margin-right: 2rem;
} */
.profilen p {
    font-family: 'Twc';
    color: #fff;
}
h3.personal-head {
    font-family: 'bebas';
    color: #fff;
}
.username1 a {
    font-family: 'bebas';
    color: #fff;
    text-decoration: none;
}
.username1 {
    padding-left: 2rem;
}
.useriamge {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2rem;
}
.useriamge img {
    width: 70px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.user-profile-sec {
    background: #000;
    /* height: 430px; */
}
section.profile-sec .personal-info-sec {
    background: #000;
    padding: 2rem 3rem;
}
span.editicon {
    font-family: 'Twc';
    font-size: 19px;
    color: #fff;
}
img.img-fluid.edit-img {
    width: 14px;
    height: 14px;
}
label.changeprofilepic {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #changepic {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 label.changeprofilepic {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    line-height: 21px;
}
img.img-fluid.changepropic {
    width: 15px;
    height: 15px;
    /* background: #fff; */
    /* border-radius: 50%; */
}
.useriamge a {
    position: relative;
}
/* change password css start here */
.profile-change-pass-sec .form-group label {
    font-family: 'Twc';
    font-size: 16px;
    color: #979797;
}
.profile-change-pass-sec .form-control {
    font-family: 'Twc';
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding-left: 0;
    font-size: 16px;
}
.profile-change-pass-sec button.btn.red-btn{
    color: #FFD814;
}
.profile-change-pass-sec .user-profile-sec {
    background: #000;
    height: 600px;
}
/* change password css End here */
/* posted event css start here */
section.posted-events-sec p.posted-heading {
    color: #fff;
    margin: 0;
}
section.posted-events-sec a.btn{
    color: #fff;
    font-family: 'Twc';
    font-weight: 100;
}
section.posted-events-sec .user-profile-sec {
    background: #000;
    height: 515px;
}
section.posted-events-sec .row.posted-event-desc {
    align-items: center;
}

/* posted event css End here */
/* user event detail css start here */
.col-md-6.userdetial-eventimg {
    width: 100%;
    margin: auto;
}
/* user event detail css End here */
/* change event detail css start here */
.profilechangedetail .form-group label {
    font-family: 'bebas';
    font-size: 16px;
    color: #fff;
}
.profilechangedetail .form-control::placeholder{
    color: #fff;
    font-size: 13px;
}
.profilechangedetail .user-profile-sec {
    background: #000;
    height: 570px;
}
.profilechangedetail label.addphoto {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 .profilechangedetail #inputaddphoto {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .profilechangedetail img.img-fluid.addphotoimg {
    display: block;
    width: 70px;
    height: 70px;
}
.request-event button.btn.btn-red {
    padding: 5px 20px;
    font-family: 'Twc';
    font-size: 13px;
    border-radius: 0;
    color: #fff;
    background: #FF0000;
}
.request-event button.btn.whitebtn {
    padding: 5px 20px;
    font-family: 'Twc';
    font-size: 13px;
    border-radius: 0;
}
.request-event .row.posted-event-desc {
    text-align: center;
}
/* change event detail css start here */
/* spplied request css start here */
.applied-request a.btn.Acceptedbtn {
    color: #06DF73;
    font-weight: 100;
    font-family: 'Twc';
}
.applied-request a.btn.Rejectedbtn {
    color: #FF0000;
    font-weight: 100;
    font-family: 'Twc';
}
/* spplied request css start here */
/* user subscription css start here */
.user-subscription-sec .payments_methods label.subslabel input:checked ~ span.checkmark .card-details {
    /* box-shadow: 0px 0px 0px 2px #228dd3; */
    border-color: #fff;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #707070c7;
    padding: 10px 20px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.user-subscription-sec .payments_methods label.subslabel input[type="radio"] {
    opacity: 0;
}
.user-subscription-sec .payments_methods label.subslabel {
    padding: 0;
}
.user-subscription-sec .payments_methods label.container input:checked ~ span.checkmark .card-details {
    box-shadow: 0px 0px 0px 2px #228dd3;
    border-color: #fff;
    overflow: hidden;
    position: relative;
    background-color: #FFFFFF;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #707070c7;
    padding: 10px 20px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.user-subscription-sec .payments_methods label.subslabel input:checked ~ span.checkmark .card-details .radio-btn span {
    background: #fff;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .radio-btn span {
    background: #ebebeb;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 0px 0px 0px 1px #fff;
    top: 27.5px;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card {
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card figure {
    margin-bottom: 0;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card figure img {
    background: #fff;
    padding: 5px;
    border-radius: 15px;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card .input-box {
    padding-left: 20px;
    font-family: 'Twc';
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card .input-box label {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .visa-card input {
    border: 0;
    height: unset;
    font-size: 17px;
    color: #fff;
    font-weight: 100;
    background: transparent;
    font-family: "Twc";
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .extra-btn {
    display: flex;
    align-items: center;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .extra-btn button.btn {
    margin-right: 20px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 1;
    font-family: "Twc";
}
.user-subscription-sec .payments_methods label.subslabel input:checked ~ span.checkmark .card-details .extra-btn .selection {
    opacity: 1;
}
.user-subscription-sec .payments_methods label.subslabel span.checkmark .card-details .extra-btn .selection i {
    background: #fff;
    color: #000;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}
p.carddesc {
    font-family: 'bebas';
    color: #fff;
    margin: 0;
    font-size: 17px;
}
.paymentsubs {
    border: 1px solid #fff;
    padding: 0.6rem 0;
    margin: 1rem 0;
}
.month5 {
    display: flex;
    align-items: center;
    font-family: 'bebas';
    justify-content: center;
}
.month5 p:nth-child(1) {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-weight: bold;
}
.month5 p:nth-child(2) {
    font-size: 15px;
    color: #fff;
    text-transform: lowercase;
}
p.smallp {
    margin: 0;
    line-height: 0;
    font-family: 'Twc';
    font-size: 7px;
    color: #fff;
    margin-left: 1rem;
    padding-top: 1rem;
}
p.subs-head {
    color: #fff;
    font-family: 'Twc';
    font-weight: 100;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 1.5rem;
}
.month5 p {
    margin: 0;
}
/* user subscription css End here */
.profilen p {
    margin: 0;
}
.othersprofile-sec .user-profile-sec {
    background: #000;
    height: 310px;
}
@media(max-width:767px){
    section.profile-sec .personal-info-sec{
        margin: 15px;
        padding: 2rem 2rem;
    }
    .request-event button.btn.btn-red, button.btn.whitebtn {
        margin-top: 10px;
    }
    .useremail{
        font-size: 11px;
    }
}